.description {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-black);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 2.5em;
}