.container {
    position: absolute;
    top: 0;
    right: 70px;

    .hit {
        width: 64px;
        height: 24px;
        -webkit-transform: skew(326deg);
           -moz-transform: skew(326deg);
             -o-transform: skew(326deg);
        background: var(--color-red);
        color: var(--color-white);
        text-align: center;
        padding-top: 2px;
    }
}

