@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-blue: #4056A1;
  --color-green: #00B177;
  --color-gray: #999999;
  --color-gray-dark: #636B7F;
  --color-gray-white: #F5F5F7;
  --color-black: #2E2E33;
  --color-red: #D9362B;
  --color-yelow: #FFDC38;
  --color-white: #ffffff;



  --width-wrapper: 1920px 
}
